Repository owenthewizard/samotop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: builder-build, server-docker-image

builder-build:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: .pre
  variables:
    KANIKO_DOCKER_CONFIG: '{"auths":{"$CI_REGISTRY":{"username":"$CI_REGISTRY_USER","password":"$CI_REGISTRY_PASSWORD"}}}'
    COMPONENT: $BUILDER_COMPONENT
    CONTEXT: .
    DOCKERFILE: Dockerfile
  ...

server-docker-image:
  stage: release
  variables:
    COMPONENT: samotop
    CONTEXT: .
    DOCKERFILE: Dockerfile
    BUILD_ARGS: ''
  environment:
    name: server-docker-image
    url: https://gitlab.com/BrightOpen/Samotop/container_registry/1510406

Don't fail non-maildir examples
  .gitlab-ci.yml
Due: server-docker-image

Optimized deps
  Cargo.lock
  samotop/Cargo.toml
  samotop/examples/default.rs
  samotop/src/mail/mapper.rs
  samotop/src/mail/mod.rs
Due: none

Used released viaspf async alpha 0.4.0
  Cargo.lock
  samotop-with-spf/Cargo.toml
Due: none

Docs
  concepts/accounts.plantuml
  concepts/contacts.plantuml
  concepts/selfservice.plantuml
  samotop/README.md
  samotop/src/lib.rs
Due: none

Cleaner state methods, docs, logs
  samotop-core/src/lib.rs
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/guard.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/mail/rfc3207/starttls.rs
  samotop-core/src/mail/rfc5321/helo.rs
  samotop-core/src/mail/rfc5321/mail.rs
  samotop-core/src/mail/rfc5321/mod.rs
  samotop-core/src/mail/rfc5321/quit.rs
  samotop-core/src/mail/rfc5321/rcpt.rs
  samotop-core/src/mail/rfc5321/session.rs
  samotop-core/src/mail/service.rs
  samotop-core/src/mail/setup.rs
  samotop-core/src/smtp/impatient.rs
  samotop-core/src/smtp/reply.rs
  samotop-core/src/smtp/state.rs
  samotop-delivery/src/dir/delivery.rs
  samotop-with-spf/src/lib.rs
  samotop/tests/integration.rs
Due: none

Refactored interpretters, session setup
  Cargo.lock
  samotop-core/src/io/tls/stream.rs
  samotop-core/src/io/tls/traits.rs
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/debug.rs
  samotop-core/src/mail/esmtp.rs
  samotop-core/src/mail/mailservice.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/mail/rfc2033/mod.rs
  samotop-core/src/mail/rfc3207/mod.rs
  samotop-core/src/mail/rfc3207/starttls.rs
  samotop-core/src/mail/rfc5321/mod.rs
  samotop-core/src/mail/rfc5321/session.rs
  samotop-core/src/mail/service.rs
  samotop-core/src/mail/session.rs
  samotop-core/src/mail/setup.rs
  samotop-core/src/smtp/command/mod.rs
  samotop-core/src/smtp/command/session.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/impatience.rs
  samotop-core/src/smtp/interpretter.rs
  samotop-core/src/smtp/mod.rs
  samotop-parser/src/smtp.rs
  samotop-server/src/main.rs
  samotop/tests/.integration.rs.pending-snap
  samotop/tests/integration.rs
Due: server-docker-image

Removed tls provider from builder
  .gitignore
  samotop-core/src/io/tls/notls.rs
  samotop-core/src/mail/builder.rs
  samotop-server/examples/mta-smime-maildir.rs
  samotop-server/src/main.rs
  samotop-with-native-tls/src/lib.rs
  samotop-with-rustls/src/lib.rs
  samotop/tests/.integration.rs.pending-snap
Due: server-docker-image

Made prepare_session async for the coming IO ops
  samotop-core/src/mail/debug.rs
  samotop-core/src/mail/esmtp.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/mail/rfc3207/mod.rs
  samotop-core/src/mail/service.rs
Due: none

Adding Prudence, WIP
  samotop-core/src/smtp/mod.rs
  samotop-core/src/smtp/prudence.rs
  samotop/examples/to-dirmail.rs
Due: none

More powerful prepare_session - has state and IO
  samotop-core/src/io/dummy.rs
  samotop-core/src/io/mod.rs
  samotop-core/src/io/tls/mod.rs
  samotop-core/src/lib.rs
  samotop-core/src/mail/debug.rs
  samotop-core/src/mail/esmtp.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/mail/rfc3207/mod.rs
  samotop-core/src/mail/service.rs
  samotop-core/src/server/mod.rs
  samotop-core/src/smtp/interpretter.rs
  samotop-core/src/smtp/mod.rs
  samotop-core/src/smtp/parser.rs
  samotop-core/src/smtp/prudence.rs
  samotop/README.md
  samotop/examples/dummy-tcp.rs
  samotop/src/lib.rs
Due: none

Finished prudence
  .gitlab-ci.yml
  samotop-core/src/lib.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/prudence.rs
  samotop/examples/prudence-bad.txt
  samotop/examples/prudence-good.txt
  samotop/examples/prudent.rs
  samotop/examples/to-dirmail.rs
  samotop/tests/integration.rs
Due: server-docker-image

clippy
  samotop-core/src/smtp/prudence.rs
Due: none

Making builds interruptible
  .gitlab-ci.yml
Due: server-docker-image

prudent in pipelines
  .gitlab-ci.yml
Due: server-docker-image

fixes example e-mail addresses
  samotop/examples/default.rs
  samotop/examples/on-cmd-journal.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
  samotop/examples/to-dirmail.rs
  samotop/examples/to-lmtp-tcp.rs
  samotop/examples/to-lmtp-unix.rs
Due: none

Added child process connector to samotop-delivery, docs status update, Prudence in server, enforcing CRLF in parser
  samotop-delivery/README.md
  samotop-delivery/README.tpl
  samotop-delivery/src/lib.rs
  samotop-delivery/src/smtp/delivery.rs
  samotop-delivery/src/smtp/net/child.rs
  samotop-delivery/src/smtp/net/mod.rs
  samotop-parser/src/smtp.rs
  samotop-server/src/main.rs
  samotop/README.md
  samotop/examples/to-lmtp-child.rs
  samotop/examples/to-lmtp-child.sh
  samotop/src/lib.rs
Due: server-docker-image

Fix test to reflect strict CRLF parsing
  samotop-parser/src/smtp.rs
Due: none

Replaced Arc trait impls with Deref
  samotop-core/src/io/tls/traits.rs
  samotop-core/src/mail/dispatch.rs
  samotop-core/src/mail/driver.rs
  samotop-core/src/mail/esmtp.rs
  samotop-core/src/mail/guard.rs
  samotop-core/src/mail/mod.rs
  samotop-core/src/mail/tls.rs
Due: none

Cleaner API -spf
  samotop-core/src/smtp/esmtp.rs
  samotop-delivery/src/dir/delivery.rs
  samotop-server/examples/mta-smime-maildir.rs
  samotop-server/src/main.rs
  samotop-with-spf/src/lib.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
  samotop/examples/to-dirmail.rs
Due: server-docker-image

fixup snap test and parser example
  samotop-core/src/smtp/context.rs
  samotop/examples/parser.rs
Due: none

Try dynamic publish
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
Due: server-docker-image

fixup dyn publish
  .gitlab-ci.yml
Due: server-docker-image

fixup dyn publish
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
Due: server-docker-image

fixup dyn publish
  .gitlab-ci.publish.yml
Due: none

fixup dyn publish
  .gitlab-ci.builder.yml
  .gitlab-ci.config.yml
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
Due: builder-build, server-docker-image

fixup dyn publish
  .gitlab-ci.builder.yml
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
Due: builder-build, server-docker-image

fixup dyn publish
  samotop-core/Cargo.toml
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/setup.rs
  samotop-core/src/smtp/context.rs
  samotop-core/src/smtp/driver.rs
Due: none

fixup delivery for release
  samotop-delivery/Cargo.toml
  samotop-delivery/src/dir/error.rs
  samotop-delivery/src/lib.rs
  samotop-delivery/src/smtp/smtp_client.rs
Due: none

fixup release
  .gitlab-ci.config.yml
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
  samotop-core/src/io/connection.rs
  samotop-core/src/smtp/extensions.rs
  samotop/examples/parser.rs
  samotop/tests/integration.rs
Due: server-docker-image

fixup release
  samotop-delivery/README.md
Due: none

Path conditions:
  builder-build: any of: Dockerfile, .gitlab-ci.builder.yml
  server-docker-image: any of: samotop-server/**/*, Dockerfile, .gitlab-ci.yml
