Repository owenthewizard/samotop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: builder-build, server-docker-image

Path conditions:
  builder-build: any of: Dockerfile, .gitlab-ci.builder.yml
  server-docker-image: any of: samotop-server/**/*, Dockerfile, .gitlab-ci.yml

fix clippy on nightly
  samotop-with-spf/src/lookup.rs
Due: none

Adding GPLv3 warning
  samotop-parser-nom/README.md
  samotop-parser-nom/README.tpl
  samotop-parser-nom/src/lib.rs
  samotop/README.md
Due: none

logo
  README.md
  SaMoToP.png
  SaMoToP.svg
Due: none

logo in readme
  README.md
Due: none

Moved project links
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
  samotop-core/Cargo.toml
  samotop-core/README.md
  samotop-delivery/Cargo.toml
  samotop-model/Cargo.toml
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/README.md
  samotop-parser/Cargo.toml
  samotop-parser/README.md
  samotop-server/Cargo.toml
  samotop-server/README.md
  samotop-smime/Cargo.toml
  samotop-tests/Cargo.toml
  samotop-with-native-tls/Cargo.toml
  samotop-with-native-tls/README.md
  samotop-with-rustls/Cargo.toml
  samotop-with-rustls/README.md
  samotop-with-spf/Cargo.toml
  samotop-with-spf/README.md
  samotop/Cargo.toml
  samotop/README.md
Due: builder-build, server-docker-image

Adding lozizol mail delivery
  Cargo.lock
  samotop-delivery/Cargo.toml
  samotop-delivery/src/delivery/mod.rs
  samotop-delivery/src/dir/delivery.rs
  samotop-delivery/src/dir/mod.rs
  samotop-delivery/src/dispatch.rs
  samotop-delivery/src/journal/delivery.rs
  samotop-delivery/src/journal/error.rs
  samotop-delivery/src/journal/mod.rs
  samotop-delivery/src/journal/stream.rs
  samotop-delivery/src/journal/transport.rs
  samotop-delivery/src/lib.rs
  samotop-delivery/src/smtp/delivery.rs
  samotop-delivery/src/smtp/mod.rs
  samotop-delivery/src/smtp/net/mod.rs
  samotop-delivery/src/types.rs
  samotop-parser-nom/src/lib.rs
  samotop-server/Cargo.toml
  samotop/Cargo.toml
  samotop/examples/on-cmd-journal.rs
  samotop/src/mail/mod.rs
Due: server-docker-image

fmt
  samotop-delivery/README.md
  samotop-delivery/src/smtp/mod.rs
  samotop-parser-nom/README.md
  samotop/README.md
  samotop/examples/on-cmd-journal.rs
Due: none

update deps
  Cargo.lock
Due: none

clippy
  samotop-delivery/src/journal/delivery.rs
  samotop-delivery/src/journal/stream.rs
  samotop-delivery/src/journal/transport.rs
  samotop/examples/on-cmd-journal.rs
Due: none

more clippy and version pre-release bump
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-core/src/mail/rfc2033/body.rs
  samotop-core/src/mail/rfc2033/helo.rs
  samotop-core/src/mail/rfc2033/mod.rs
  samotop-core/src/mail/rfc3207/mod.rs
  samotop-core/src/mail/rfc3207/starttls.rs
  samotop-core/src/mail/rfc5321/body.rs
  samotop-core/src/mail/rfc5321/data.rs
  samotop-core/src/mail/rfc5321/helo.rs
  samotop-core/src/mail/rfc5321/invalid.rs
  samotop-core/src/mail/rfc5321/mail.rs
  samotop-core/src/mail/rfc5321/mod.rs
  samotop-core/src/mail/rfc5321/noop.rs
  samotop-core/src/mail/rfc5321/quit.rs
  samotop-core/src/mail/rfc5321/rcpt.rs
  samotop-core/src/mail/rfc5321/rset.rs
  samotop-core/src/mail/rfc5321/unknown.rs
  samotop-core/src/mail/rfc821/mod.rs
  samotop-core/src/smtp/mod.rs
  samotop-delivery/Cargo.toml
  samotop-delivery/src/smtp/commands.rs
  samotop-delivery/src/smtp/util/codec.rs
  samotop-model/Cargo.toml
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/README.md
  samotop-parser/Cargo.toml
  samotop-server/Cargo.toml
  samotop-server/README.md
  samotop-smime/Cargo.toml
  samotop-tests/Cargo.toml
  samotop-tests/src/lib.rs
  samotop-with-native-tls/Cargo.toml
  samotop-with-rustls/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
  samotop/README.md
Due: server-docker-image

Not switching to USER 1001 in docker
  Dockerfile
  samotop-server/docker/Dockerfile
Due: builder-build, server-docker-image

no keys
  Dockerfile
Due: builder-build, server-docker-image

Adding timeout to spf
  samotop-with-spf/src/lookup.rs
Due: none

default to system conf resolver
  samotop-with-spf/src/lookup.rs
Due: none

bump server prerelease
  Cargo.lock
  samotop-server/Cargo.toml
Due: server-docker-image

Readme version bump
  samotop-server/README.md
Due: server-docker-image

Use viaspf async mod
  Cargo.lock
  samotop-core/src/io/service.rs
  samotop-core/src/lib.rs
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/debug.rs
  samotop-core/src/mail/dispatch.rs
  samotop-core/src/mail/null.rs
  samotop-core/src/mail/rfc2033/body.rs
  samotop-core/src/mail/rfc2033/helo.rs
  samotop-core/src/mail/rfc2033/mod.rs
  samotop-core/src/mail/rfc3207/starttls.rs
  samotop-core/src/mail/rfc5321/body.rs
  samotop-core/src/mail/rfc5321/data.rs
  samotop-core/src/mail/rfc5321/helo.rs
  samotop-core/src/mail/rfc5321/invalid.rs
  samotop-core/src/mail/rfc5321/mail.rs
  samotop-core/src/mail/rfc5321/mod.rs
  samotop-core/src/mail/rfc5321/noop.rs
  samotop-core/src/mail/rfc5321/quit.rs
  samotop-core/src/mail/rfc5321/rcpt.rs
  samotop-core/src/mail/rfc5321/rset.rs
  samotop-core/src/mail/rfc5321/unknown.rs
  samotop-core/src/smtp/command.rs
  samotop-core/src/smtp/commands/conn.rs
  samotop-delivery/src/dispatch.rs
  samotop-parser/src/command.rs
  samotop-smime/src/smimemail.rs
  samotop-with-spf/Cargo.toml
  samotop-with-spf/src/lib.rs
  samotop-with-spf/src/lookup.rs
  samotop/src/io/dummy.rs
  samotop/src/io/smtp.rs
Due: none

Journal increasing concurrency
  samotop-delivery/src/dir/stream.rs
  samotop-delivery/src/file/mod.rs
  samotop-delivery/src/journal/stream.rs
  samotop-delivery/src/journal/transport.rs
  samotop-delivery/src/lib.rs
  samotop-delivery/src/sendmail/mod.rs
  samotop-delivery/src/smtp/stream.rs
  samotop-delivery/src/stub/mod.rs
Due: none

Simplified handling of close, dep update
  Cargo.lock
  samotop-delivery/src/dir/error.rs
  samotop-delivery/src/dir/mod.rs
  samotop-delivery/src/dir/stream.rs
  samotop-delivery/src/dispatch.rs
  samotop-delivery/src/file/error.rs
  samotop-delivery/src/file/mod.rs
  samotop-delivery/src/journal/error.rs
  samotop-delivery/src/journal/stream.rs
  samotop-delivery/src/journal/transport.rs
  samotop-delivery/src/lib.rs
  samotop-delivery/src/sendmail/error.rs
  samotop-delivery/src/sendmail/mod.rs
  samotop-delivery/src/smtp/smtp_client.rs
  samotop-delivery/src/smtp/stream.rs
  samotop-delivery/src/smtp/transport.rs
  samotop-delivery/src/stub/mod.rs
Due: none

Bump dev versions
  Cargo.lock
  samotop-delivery/Cargo.toml
  samotop-delivery/tests/transport_smtp.rs
  samotop-delivery/tests/transport_stub.rs
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/README.md
  samotop-parser/Cargo.toml
  samotop-smime/Cargo.toml
  samotop-with-native-tls/Cargo.toml
  samotop-with-rustls/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
Due: none

Bump builder
  .gitlab-ci.builder.yml
Due: builder-build

Adding driver - disabled
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-core/src/smtp/codec2.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/mod.rs
  samotop-core/src/smtp/state.rs
  samotop-smime/src/accounts.rs
  samotop-with-spf/src/lib.rs
  samotop/README.md
Due: none

Added new SmtpService with new Driver
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/parser.rs
  samotop-core/src/mail/rfc5321/mod.rs
  samotop-core/src/mail/session.rs
  samotop-core/src/parser.rs
  samotop-core/src/smtp/commands/conn.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/mod.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/smtp.rs
  samotop-server/src/main.rs
  samotop/examples/on-cmd-journal.rs
  samotop/examples/on-cmd.rs
  samotop/src/io/mod.rs
  samotop/src/io/smtp2.rs
  samotop/src/lib.rs
  samotop/src/parser/impatient.rs
  samotop/src/parser/mod.rs
Due: server-docker-image

Enable impatience
  samotop/src/io/smtp2.rs
  samotop/src/parser/impatient.rs
Due: none

cleanup and minifixes
  samotop-core/src/mail/rfc3207/starttls.rs
  samotop-core/src/mail/rfc5321/data.rs
  samotop-core/src/mail/rfc5321/invalid.rs
  samotop-core/src/mail/rfc5321/noop.rs
  samotop-core/src/mail/rfc5321/quit.rs
  samotop-core/src/mail/rfc5321/rset.rs
  samotop-core/src/mail/rfc5321/unknown.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/interpretter.rs
  samotop-core/src/smtp/reply.rs
  samotop-core/src/smtp/state.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/smtp.rs
  samotop-server/examples/mta-smime-maildir.rs
  samotop/examples/default.rs
  samotop/examples/on-cmd-journal.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
  samotop/examples/to-lmtp-tcp.rs
Due: server-docker-image

Fixing examples
  samotop-core/src/smtp/interpretter.rs
Due: none

fix data parsing
  samotop-core/src/mail/rfc5321/data.rs
  samotop-core/src/smtp/interpretter.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/smtp.rs
Due: none

fix lmtp example
  samotop/examples/to-lmtp-tcp.rs
Due: none

fmt
  samotop/examples/to-lmtp-tcp.rs
Due: none

netcat
  .gitlab-ci.yml
  Cargo.lock
  samotop-core/src/mail/rfc5321/invalid.rs
  samotop-core/src/mail/rfc5321/noop.rs
  samotop-delivery/Cargo.toml
Due: server-docker-image

keep nc err log
  .gitlab-ci.yml
Due: server-docker-image

fix syntax error
  .gitlab-ci.yml
  samotop-core/src/smtp/driver.rs
  samotop/examples/parser.rs
Due: server-docker-image

add netcat to builder
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
  Dockerfile
Due: builder-build, server-docker-image

fix example pipeline jobs
  .gitlab-ci.yml
  samotop-parser/src/smtp.rs
Due: server-docker-image

improved cmd example
  .gitlab-ci.yml
  Cargo.lock
  samotop-core/src/smtp/driver.rs
  samotop/Cargo.toml
  samotop/examples/mailsessionlmtp.txt
  samotop/tests/insta.rs
Due: server-docker-image
