Repository owenthewizard/samotop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: publish-docker, builder-build

publish-docker:
  stage: release
  image: docker:git
  services:
  - docker:dind
  script:
  - cp -ra samotop-server/docker target/
  - cp target/release/samotop-server target/docker/samotop
  - cd target/docker/
  - docker build -t samotop .
  - cd ../../
  - docker run -t --rm samotop --help
  ...

builder-build:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: .pre
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

Set locales for wildq
  .gitlab-ci.yml
Due: builder-build

Optimize builds using builder
  .gitlab-ci.yml
  Dockerfile
Due: builder-build

audit as part of test
  .gitlab-ci.yml
Due: builder-build

color out example tests
  .gitlab-ci.yml
Due: builder-build

fixup clean nightly
  .gitlab-ci.yml
Due: builder-build

test in test stage
  .gitlab-ci.yml
Due: builder-build

start dovecot only in lmtp delivery example test
  .gitlab-ci.yml
Due: builder-build

name fix
  .gitlab-ci.yml
Due: builder-build

fixup audit
  .gitlab-ci.yml
Due: builder-build

all features checks
  .gitlab-ci.yml
Due: builder-build

Do not clean bin target samotop-server
  clean.sh
Due: none

split builder apart
  .dockerignore
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
Due: builder-build

optimize stage wait time
  .gitlab-ci.yml
Due: builder-build

fixup builder test
  .gitlab-ci.builder.yml
Due: none

split tests for speed
  .gitlab-ci.yml
Due: builder-build

Feature/newbuilds
  .dockerignore
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
  Dockerfile
  clean.sh
  samotop-delivery/Cargo.toml
  samotop-delivery/README.md
  samotop-delivery/src/smtp/error.rs
  samotop-delivery/src/smtp/extension.rs
  samotop-delivery/src/smtp/response.rs
  samotop-delivery/src/smtp/util/proto.rs
  samotop-server/README.md
  samotop-server/src/main.rs
  samotop-with-spf/Cargo.toml
  samotop-with-spf/src/lib.rs
  samotop-with-spf/src/lookup.rs
Due: publish-docker, builder-build

adding nom parser, WIP
  Cargo.toml
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/README.md
  samotop-parser-nom/examples/parse.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser-nom/src/parser.rs
Due: none

WIP: new parser
  Cargo.toml
  samotop-core/src/protocol/parse.rs
  samotop-core/src/smtp/stream.rs
  samotop-model/src/parser.rs
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/commands/body.rs
  samotop-model/src/smtp/commands/conn.rs
  samotop-model/src/smtp/commands/data.rs
  samotop-model/src/smtp/commands/helo.rs
  samotop-model/src/smtp/commands/invalid.rs
  samotop-model/src/smtp/commands/mail.rs
  samotop-model/src/smtp/commands/noop.rs
  samotop-model/src/smtp/commands/quit.rs
  samotop-model/src/smtp/commands/rcpt.rs
  samotop-model/src/smtp/commands/rset.rs
  samotop-model/src/smtp/commands/starttls.rs
  samotop-model/src/smtp/commands/unknown.rs
  samotop-model/src/smtp/mod.rs
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/README.md
  samotop-parser-nom/src/parser copy.rs
  samotop-parser-nom/src/parser.rs
  samotop-parser/src/parser.rs
  samotop-parser/src/smtp.rs
  samotop/src/mail/mapper.rs
Due: none

fixup
  samotop-core/src/protocol/parse.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/mail/traits.rs
  samotop-model/src/parser.rs
  samotop-model/src/smtp/command.rs
  samotop-parser/src/parser.rs
Due: none

Parser is now part of MailService
  samotop-core/src/io/smtp.rs
  samotop-core/src/protocol/mod.rs
  samotop-core/src/protocol/parse.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/parser.rs
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/state.rs
  samotop-parser/Cargo.toml
  samotop-parser/src/lib.rs
  samotop-parser/src/parser.rs
  samotop-server/src/main.rs
  samotop/examples/default.rs
Due: publish-docker

Parser with tests working again
  samotop-core/src/protocol/smtp.rs
  samotop-model/src/smtp/mod.rs
  samotop-parser/examples/parse.rs
  samotop-parser/src/smtp.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
  samotop/examples/parser.rs
  samotop/examples/to-dirmail.rs
  samotop/examples/to-lmtp-tcp.rs
  samotop/examples/to-lmtp-unix.rs
  samotop/src/lib.rs
  samotop/tests/server.rs
Due: none

WIP: partly implemented nom parser with rustyknife
  Cargo.toml
  samotop-parser-nom/src/lib.rs
  samotop-parser-nom/src/parser.rs
Due: none

Eliminated SessionStream and some ReadControl variants
  samotop-core/src/io/smtp.rs
  samotop-core/src/lib.rs
  samotop-core/src/protocol/smtp.rs
  samotop-core/src/smtp/mod.rs
  samotop-core/src/smtp/stream.rs
  samotop-model/src/lib.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/mod.rs
  samotop-parser-nom/README.md
  samotop/README.md
Due: none

Smtp codec internalized sending
  samotop-core/src/io/smtp.rs
  samotop-core/src/protocol/smtp.rs
Due: none

fixup parser tests on stable
  samotop-parser/src/smtp.rs
Due: none

Use either NOM or PEG parser, optional
  samotop-core/src/io/smtp.rs
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/commands/rcpt.rs
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/parser.rs
  samotop-parser/src/smtp.rs
  samotop-server/src/main.rs
  samotop/Cargo.toml
  samotop/README.md
  samotop/examples/default.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
  samotop/examples/parser.rs
  samotop/examples/to-dirmail.rs
  samotop/examples/to-lmtp-tcp.rs
  samotop/examples/to-lmtp-unix.rs
  samotop/src/lib.rs
  samotop/src/mail/mapper.rs
  samotop/src/mail/mod.rs
  samotop/tests/server.rs
Due: publish-docker

clippy
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/commands/body.rs
  samotop-model/src/smtp/commands/conn.rs
  samotop-model/src/smtp/commands/data.rs
  samotop-model/src/smtp/commands/helo.rs
  samotop-model/src/smtp/commands/invalid.rs
  samotop-model/src/smtp/commands/mail.rs
  samotop-model/src/smtp/commands/noop.rs
  samotop-model/src/smtp/commands/quit.rs
  samotop-model/src/smtp/commands/rcpt.rs
  samotop-model/src/smtp/commands/rset.rs
  samotop-model/src/smtp/mod.rs
Due: none

clippy
  samotop-model/src/smtp/command.rs
Due: none

Parser can produce any command
  samotop-model/src/mail/builder.rs
  samotop-model/src/parser.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/parser.rs
Due: none

clippy
  samotop-parser/src/parser.rs
Due: none

fmt
  samotop-model/src/parser.rs
Due: none

clippy
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/parser.rs
Due: none

default to peg parser for now
  samotop/Cargo.toml
Due: none

don't check fmt on nightly
  .gitlab-ci.yml
Due: builder-build

Start using new TLS
  samotop-core/src/io/smtp.rs
  samotop-delivery/src/smtp/net/inet.rs
  samotop-delivery/src/smtp/net/unix.rs
  samotop-model/src/io/tls/notls.rs
  samotop-model/src/io/tls/traits.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/mail/traits.rs
  samotop-server/src/main.rs
  samotop-with-native-tls/src/lib.rs
  samotop-with-rustls/src/lib.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
Due: publish-docker

fixup stack overflow
  samotop-model/src/io/tls/traits.rs
Due: none

Path conditions:
  publish-docker: any of: samotop-server/**/*
  builder-build: any of: Dockerfile, .gitlab-ci.yml
