Repository owenthewizard/samotop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: builder-build, publish-docker

Path conditions:
  builder-build: any of: Dockerfile, .gitlab-ci.builder.yml
  publish-docker: any of: samotop-server/**/*

Next version 0.12.0
  samotop-core/Cargo.toml
  samotop-delivery/Cargo.toml
  samotop-model/Cargo.toml
  samotop-parser-nom/Cargo.toml
  samotop-parser/Cargo.toml
  samotop-server/Cargo.toml
  samotop-with-native-tls/Cargo.toml
  samotop-with-rustls/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
  samotop/README.md
Due: publish-docker

Fix ambiguous method name get_tls_upgrade
  samotop-core/src/io/smtp.rs
  samotop-delivery/src/smtp/net/inet.rs
  samotop-delivery/src/smtp/net/unix.rs
  samotop-model/src/io/tls/notls.rs
  samotop-model/src/io/tls/traits.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/mail/traits.rs
  samotop-with-native-tls/src/lib.rs
  samotop-with-rustls/src/lib.rs
Due: none

#5 - session timeout, default 10s
  samotop-core/Cargo.toml
  samotop-core/src/io/dummy.rs
  samotop-core/src/io/smtp.rs
  samotop-core/src/lib.rs
  samotop-core/src/protocol/smtp.rs
  samotop-model/src/mail/types.rs
  samotop-model/src/smtp/commands/conn.rs
  samotop/src/server/tcp.rs
  samotop/src/server/unix.rs
Due: none

Store session helo in simple strings
  samotop-model/src/mail/types.rs
  samotop-model/src/smtp/commands/data.rs
  samotop-model/src/smtp/commands/helo.rs
  samotop-model/src/smtp/commands/mail.rs
  samotop-model/src/smtp/state.rs
  samotop-with-spf/src/lib.rs
Due: none

new (simpler) SMTP codec and data parser
  samotop-core/src/io/smtp.rs
  samotop-core/src/protocol/mod.rs
  samotop-core/src/protocol/old-smtp.rs
  samotop-core/src/protocol/parse.rs
  samotop-core/src/protocol/smtp.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/mail/name.rs
  samotop-model/src/mail/traits.rs
  samotop-model/src/parser.rs
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/commands/body.rs
  samotop-model/src/smtp/commands/conn.rs
  samotop-model/src/smtp/commands/data.rs
  samotop-model/src/smtp/commands/invalid.rs
  samotop-model/src/smtp/commands/mail.rs
  samotop-model/src/smtp/commands/unknown.rs
  samotop-model/src/smtp/mod.rs
  samotop-model/src/smtp/state.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/Cargo.toml
  samotop-parser/src/data.rs
  samotop-parser/src/lib.rs
  samotop-parser/src/parser.rs
  samotop-parser/src/smtp.rs
Due: none

LMTP parser and command handling
  samotop-core/src/protocol/smtp.rs
  samotop-model/src/smtp/commands/body.rs
  samotop-parser/src/data.rs
  samotop-parser/src/lib.rs
  samotop-parser/src/lmtp.rs
  samotop-parser/src/parser.rs
  samotop-parser/src/smtp.rs
  samotop/examples/on-cmd.rs
Due: none

fixed LMTP for cmd example
  samotop-delivery/src/dir/mod.rs
  samotop-parser/src/data.rs
  samotop/examples/on-cmd.rs
Due: none

Renamed WriteControl to CodecControl updated docs and examples clippy
  .gitlab-ci.yml
  samotop-core/src/io/smtp.rs
  samotop-core/src/protocol/mod.rs
  samotop-core/src/protocol/old-smtp.rs
  samotop-core/src/protocol/parse.rs
  samotop-core/src/protocol/smtp.rs
  samotop-delivery/src/dir/mod.rs
  samotop-model/src/mail/builder.rs
  samotop-model/src/mail/name.rs
  samotop-model/src/mail/traits.rs
  samotop-model/src/mail/types.rs
  samotop-model/src/parser.rs
  samotop-model/src/smtp/command.rs
  samotop-model/src/smtp/commands/body.rs
  samotop-model/src/smtp/commands/conn.rs
  samotop-model/src/smtp/commands/data.rs
  samotop-model/src/smtp/commands/helo.rs
  samotop-model/src/smtp/commands/invalid.rs
  samotop-model/src/smtp/commands/mail.rs
  samotop-model/src/smtp/commands/unknown.rs
  samotop-model/src/smtp/mod.rs
  samotop-model/src/smtp/state.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/Cargo.toml
  samotop-parser/src/data.rs
  samotop-parser/src/lib.rs
  samotop-parser/src/lmtp.rs
  samotop-parser/src/parser.rs
  samotop-parser/src/smtp.rs
  samotop-with-spf/src/lib.rs
  samotop/README.md
  samotop/examples/on-cmd.rs
  samotop/src/lib.rs
Due: none

Merged protocol namespace into smtp
  samotop-core/src/io/smtp.rs
  samotop-core/src/lib.rs
  samotop-core/src/protocol/mod.rs
  samotop-core/src/protocol/old-smtp.rs
  samotop-core/src/smtp/codec.rs
  samotop-core/src/smtp/mod.rs
  samotop/src/lib.rs
Due: none

clippy
  samotop-parser/src/data.rs
Due: none

Fix rustyknife plain HELO mapping
  samotop-parser-nom/src/lib.rs
Due: none

fixup async-tls breaking change
  samotop-server/Cargo.toml
Due: publish-docker

Experiments with encryption
  Cargo.toml
  samotop-enc/Cargo.toml
  samotop-enc/src/main.rs
  samotop-enc/tests/client.pem
  samotop-server/Cargo.toml
  samotop-server/README.md
  samotop-server/Samotop.pem
  samotop-server/src/main.rs
  samotop-server/with.txt
  samotop-server/without.txt
  samotop-with-native-tls/Cargo.toml
  samotop-with-native-tls/src/lib.rs
Due: publish-docker

fmt + clippy
  samotop-enc/README.md
  samotop-enc/src/main.rs
  samotop-server/README.md
  samotop-server/src/main.rs
Due: publish-docker

stream encrypting smime with openssl
  samotop-enc/Cargo.toml
  samotop-enc/src/main.rs
  samotop-enc/test/enc
  samotop-enc/test/msg
Due: none

reshape
  samotop-enc/src/main.rs
  samotop-model/src/smtp/commands/body.rs
Due: none

Sync and Send and reshape
  samotop-enc/src/main.rs
Due: none

S/MIME roundtrip
  Cargo.toml
  samotop-enc/tests/client.pem
  samotop-smime/Cargo.toml
  samotop-smime/README.md
  samotop-smime/src/lib.rs
  samotop-smime/src/main.rs
  samotop-smime/test/enc
  samotop-smime/test/msg
  samotop-smime/tests/data/her.crt
  samotop-smime/tests/data/her.key
  samotop-smime/tests/data/my.crt
  samotop-smime/tests/data/my.key
  samotop-smime/tests/roundtrip.rs
Due: none

core readme and unsafe touches
  samotop-core/README.md
  samotop-core/src/lib.rs
  samotop-core/src/smtp/codec.rs
Due: none

Feature/smime
  samotop-core/README.md
  samotop-core/src/lib.rs
  samotop-core/src/smtp/codec.rs
  samotop-server/examples/mta-smime-maildir.rs
  samotop-smime/Cargo.toml
  samotop-smime/src/accounts.rs
  samotop-smime/src/lib.rs
  samotop-smime/src/smime.rs
  samotop-smime/src/smimemail.rs
  samotop-smime/tests/roundtrip.rs
  samotop/Cargo.toml
  samotop/src/mail/mod.rs
Due: publish-docker

docs
  samotop-server/examples/mta-smime-maildir.rs
Due: publish-docker

docs and tidy up
  samotop-core/src/io/connection.rs
  samotop-core/src/io/mod.rs
  samotop-core/src/io/service.rs
  samotop-smime/src/smimemail.rs
  samotop/src/io/dummy.rs
  samotop/src/mail/mapper.rs
Due: none

Remove SPF from the server for a moment
  samotop-server/Cargo.toml
  samotop-server/src/main.rs
Due: publish-docker

Tru musl builder
  .gitlab-ci.builder.yml
  .gitlab-ci.full.yml
  .gitlab-ci.yml
  Dockerfile
Due: builder-build

Tru musl builder 2.0
  .gitlab-ci.yml
Due: none

Builder default to glibc target
  Dockerfile
Due: builder-build

samotop-delivery optional
  samotop/Cargo.toml
  samotop/src/io/mod.rs
  samotop/src/mail/mod.rs
Due: none

New kaniko template
  .gitlab-ci.yml
Due: none

buildah version
  .gitlab-ci.yml
Due: none

builder buildah
  .gitlab-ci.yml
Due: none

fixup yaml
  .gitlab-ci.yml
Due: none

alias fixup
  .gitlab-ci.yml
Due: none

fixup alias
  .gitlab-ci.yml
Due: none

enable aliases
  .gitlab-ci.yml
Due: none

re-introduce spf
  samotop-server/Cargo.toml
  samotop-server/src/main.rs
Due: publish-docker

revert buildah
  .gitlab-ci.builder.yml
  .gitlab-ci.full.yml
  .gitlab-ci.yml
Due: builder-build

Revert "revert buildah"
  .gitlab-ci.builder.yml
  .gitlab-ci.full.yml
  .gitlab-ci.yml
Due: builder-build
