Repository owenthewizard/samotop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: builder-build, server-docker-image

builder-build:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  stage: .pre
  variables:
    KANIKO_DOCKER_CONFIG: '{"auths":{"$CI_REGISTRY":{"username":"$CI_REGISTRY_USER","password":"$CI_REGISTRY_PASSWORD"}}}'
    COMPONENT: $BUILDER_COMPONENT
    CONTEXT: .
    DOCKERFILE: Dockerfile
  ...

server-docker-image:
  stage: release
  interruptible: true
  variables:
    COMPONENT: samotop
    CONTEXT: .
    DOCKERFILE: Dockerfile
    BUILD_ARGS: ''
  environment:
    name: server-docker-image
    url: https://gitlab.com/BrightOpen/Samotop/container_registry/1510406

fixup pipeline
  .gitlab-ci.yml
Due: server-docker-image

fixup cache improvement
  .gitlab-ci.yml
Due: server-docker-image

fixup smime
  clean.sh
  samotop-smime/Cargo.toml
Due: none

fixup tests for missing features
  samotop/Cargo.toml
  samotop/examples/default.rs
  samotop/examples/on-cmd-journal.rs
  samotop/examples/on-cmd.rs
  samotop/examples/on-unix.rs
  samotop/examples/parser.rs
  samotop/examples/to-dirmail.rs
  samotop/examples/to-lmtp-child.rs
  samotop/examples/to-lmtp-tcp.rs
  samotop/examples/to-lmtp-unix.rs
  samotop/src/lib.rs
  samotop/tests/integration.rs
Due: none

fixup fmt
  samotop/README.md
  samotop/examples/on-cmd-journal.rs
  samotop/examples/to-lmtp-child.rs
  samotop/tests/integration.rs
Due: none

fixup publish pipeline
  .gitlab-ci.publish.yml
Due: none

adding envs
  .gitlab-ci.yml
Due: server-docker-image

fixup native tls
  samotop-with-native-tls/Cargo.toml
Due: none

fixup native tls
  samotop/Cargo.toml
Due: none

fixup optimize crate pipeline
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
Due: server-docker-image

fixup crate publish optimized
  .gitlab-ci.publish.yml
Due: none

pipeline optimizations
  .gitlab-ci.publish.yml
  .gitlab-ci.yml
Due: server-docker-image

check release order
  .gitlab-ci.yml
Due: server-docker-image

fixup
  .gitlab-ci.yml
Due: server-docker-image

Adding diff to builder
  .gitlab-ci.builder.yml
  .gitlab-ci.config.yml
  Dockerfile
Due: builder-build, server-docker-image

fixup - diff is already there
  .gitlab-ci.config.yml
  .gitlab-ci.yml
  Dockerfile
Due: builder-build, server-docker-image

#9 release 0.13
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-delivery/Cargo.toml
  samotop-delivery/README.md
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/README.md
  samotop-parser/Cargo.toml
  samotop-server/Cargo.toml
  samotop-server/README.md
  samotop-smime/Cargo.toml
  samotop-with-native-tls/Cargo.toml
  samotop-with-rustls/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
  samotop/README.md
Due: builder-build, server-docker-image

Upgrade some deps
  samotop-delivery/Cargo.toml
  samotop-delivery/README.md
  samotop-server/Cargo.toml
  samotop-server/README.md
Due: server-docker-image

Fixing service name for logging and responses. + Docs + deprecating time_based_id in favor of Identify
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-core/src/io/connection.rs
  samotop-core/src/lib.rs
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/configuration.rs
  samotop-core/src/mail/dispatch.rs
  samotop-core/src/mail/guard.rs
  samotop-core/src/mail/logger.rs
  samotop-core/src/mail/mail_service.rs
  samotop-core/src/mail/mod.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/mail/null.rs
  samotop-core/src/mail/service.rs
  samotop-core/src/mail/setup.rs
  samotop-core/src/server/tcp.rs
  samotop-core/src/server/unix.rs
  samotop-core/src/smtp/context.rs
  samotop-core/src/smtp/rfc5321/mail.rs
  samotop-core/src/smtp/session.rs
  samotop/Cargo.toml
  samotop/README.md
  samotop/examples/default.rs
  samotop/src/smtp/mod.rs
  samotop/tests/integration.rs
Due: none

IMAP playground
  samotop/examples/imap.rs
  samotop/tests/integration.rs
Due: none

server logs improvement
  samotop-core/src/server/tcp.rs
  samotop-core/src/server/unix.rs
Due: none

Reaf?
  samotop/examples/imap.rs
  samotop/examples/reaf.rs
Due: none

#12 adjust to new viaspf API
  Cargo.lock
  samotop-delivery/src/journal/transport.rs
  samotop-server/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop-with-spf/src/lib.rs
  samotop-with-spf/src/lookup.rs
  samotop/Cargo.toml
Due: server-docker-image

Fied security problems
  Cargo.lock
  samotop-delivery/Cargo.toml
  samotop-delivery/benches/transport_smtp.rs.disabled
  samotop-with-native-tls/Cargo.toml
  samotop/Cargo.toml
Due: none

clippy warning
  samotop-delivery/src/smtp/commands.rs
Due: none

Update readme's
  samotop-core/README.md
  samotop-core/README.tpl
  samotop-parser/README.md
  samotop-parser/README.tpl
  samotop-server/README.md
  samotop-with-native-tls/README.md
  samotop-with-native-tls/README.tpl
  samotop-with-rustls/README.md
  samotop-with-rustls/README.tpl
  samotop-with-spf/README.md
  samotop-with-spf/README.tpl
  samotop/README.md
Due: server-docker-image

#13 allow prudence test to fail
  .gitlab-ci.yml
  samotop-core/src/smtp/prudence.rs
Due: server-docker-image

#13 maybe fix read more input
  samotop-core/src/smtp/prudence.rs
Due: none

Release server 1.2.2
  samotop-server/Cargo.toml
Due: server-docker-image

fixup stable server
  Cargo.lock
  samotop-server/README.md
Due: server-docker-image

Simplifying configuration, aiming for config file setup - wip added a generic store, not in use yet
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-core/src/lib.rs
  samotop-core/src/mail/builder.rs
  samotop-core/src/mail/configuration.rs
  samotop-core/src/mail/logger.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/mail/null.rs
  samotop-core/src/mail/setup.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/interpretter.rs
  samotop-core/src/smtp/parser.rs
  samotop-core/src/smtp/prudence.rs
  samotop-core/src/smtp/rfc2033/mod.rs
  samotop-core/src/smtp/rfc3207/mod.rs
  samotop-core/src/smtp/rfc5321/mod.rs
  samotop-core/src/store.rs
  samotop-delivery/Cargo.toml
  samotop-parser-nom/Cargo.toml
  samotop-parser-nom/src/lib.rs
  samotop-parser/Cargo.toml
  samotop-parser/src/lib.rs
  samotop-smime/Cargo.toml
  samotop-with-native-tls/Cargo.toml
  samotop-with-rustls/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
  samotop/README.md
  samotop/examples/to-lmtp-child.rs
  samotop/examples/to-lmtp-tcp.rs
  samotop/examples/to-lmtp-unix.rs
  samotop/src/bin/samotop.rs
  samotop/src/cli/cmd.rs
  samotop/src/cli/err.rs
  samotop/src/cli/log.rs
  samotop/src/cli/main.rs
  samotop/src/cli/mod.rs
  samotop/src/cli/server/mod.rs
  samotop/src/lib.rs
Due: none

SmtpSession is part of session store
  samotop-core/src/io/connection.rs
  samotop-core/src/io/service.rs
  samotop-core/src/mail/dispatch.rs
  samotop-core/src/mail/guard.rs
  samotop-core/src/mail/name.rs
  samotop-core/src/server/io.rs
  samotop-core/src/server/mod.rs
  samotop-core/src/smtp/driver.rs
  samotop-core/src/smtp/extensions.rs
  samotop-core/src/smtp/interpretter.rs
  samotop-core/src/smtp/prudence.rs
  samotop-core/src/smtp/rfc2033/helo.rs
  samotop-core/src/smtp/rfc3207/mod.rs
  samotop-core/src/smtp/rfc5321/data.rs
  samotop-core/src/smtp/rfc5321/helo.rs
  samotop-core/src/smtp/rfc5321/invalid.rs
  samotop-core/src/smtp/rfc5321/mail.rs
  samotop-core/src/smtp/rfc5321/mod.rs
  samotop-core/src/smtp/rfc5321/noop.rs
  samotop-core/src/smtp/rfc5321/quit.rs
  samotop-core/src/smtp/rfc5321/rcpt.rs
  samotop-core/src/smtp/rfc5321/rset.rs
  samotop-core/src/smtp/session.rs
  samotop-core/src/store.rs
  samotop-parser-nom/src/lib.rs
  samotop-parser/src/lib.rs
Due: none

Refactor extensions and name
  samotop-core/src/io/connection.rs
  samotop-core/src/mail/mod.rs
  samotop-core/src/mail/service.rs
  samotop-core/src/smtp/extension.rs
  samotop-core/src/smtp/extensions.rs
  samotop-core/src/smtp/mod.rs
  samotop-core/src/smtp/name.rs
  samotop-core/src/smtp/rfc3207/extensions.rs
  samotop-core/src/smtp/rfc3207/mod.rs
  samotop-core/src/smtp/rfc3207/starttls.rs
  samotop-core/src/smtp/rfc5321/extensions.rs
  samotop-core/src/smtp/rfc5321/mod.rs
Due: none

update regex version
  .gitignore
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-server/Cargo.toml
Due: server-docker-image

Path conditions:
  builder-build: any of: Dockerfile, .gitlab-ci.builder.yml
  server-docker-image: any of: samotop-server/**/*, Dockerfile, .gitlab-ci.yml
