Repository owenthewizard/samotop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: builder-build, publish-docker

Path conditions:
  builder-build: any of: Dockerfile, .gitlab-ci.builder.yml
  publish-docker: any of: samotop-server/**/*

Redo "revert buildah"
  .gitlab-ci.builder.yml
  .gitlab-ci.full.yml
  .gitlab-ci.yml
Due: builder-build

remove buildah
  .gitlab-ci.yml
Due: none

sorted dockerfile
  Dockerfile
Due: builder-build

musl utils
  Dockerfile
Due: builder-build

try musl
  .gitlab-ci.yml
  Dockerfile
Due: builder-build

stable first
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
  Dockerfile
Due: builder-build

openssl inside
  Dockerfile
  samotop-server/Cargo.toml
Due: builder-build, publish-docker

samotop defaults to vendored openssl
  samotop/Cargo.toml
Due: none

back to tust mainline
  Dockerfile
  samotop-server/Cargo.toml
Due: builder-build, publish-docker

fixup
  Dockerfile
Due: builder-build

fixup missing libssl
  Dockerfile
Due: builder-build

fixups in builder
  .gitlab-ci.builder.yml
  Dockerfile
Due: builder-build

all targets
  .gitlab-ci.yml
  Dockerfile
  samotop-core/src/io/mod.rs
Due: builder-build

openssl static
  .dockerignore
  Dockerfile
  samotop-server/src/main.rs
Due: builder-build, publish-docker

Skip benches in test
  Dockerfile
  samotop-delivery/Cargo.toml
  samotop-delivery/benches/transport_smtp.rs
Due: builder-build

fixups
  Dockerfile
  samotop-delivery/benches/transport_smtp.rs
  samotop-delivery/src/smtp/commands.rs
  samotop-delivery/src/smtp/extension.rs
Due: builder-build

fixup
  .gitlab-ci.yml
  Dockerfile
Due: builder-build

fixup
  .gitlab-ci.builder.yml
Due: builder-build

fix dependencies for server and publish doccker image
  .gitlab-ci.yml
  samotop-server/Cargo.toml
Due: publish-docker

Include Cargo.lock again to key cache
  .gitignore
  .gitlab-ci.yml
  Cargo.lock
Due: none

Use cache in server-version
  .gitlab-ci.yml
Due: none

fixup CARGO_HOME
  .gitlab-ci.yml
Due: none

fixup docker image
  .gitlab-ci.yml
Due: none

fixup fmt
  samotop-core/src/io/mod.rs
Due: none

fixup unnecessary code
  samotop-with-spf/src/lookup.rs
Due: none

fixup docker build
  Dockerfile
Due: builder-build

revert cleanup
  samotop-with-spf/src/lookup.rs
Due: none

Dependencies upgrade
  Cargo.lock
  samotop-core/Cargo.toml
  samotop-delivery/Cargo.toml
  samotop-smime/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
Due: none

Bytes 1.0 update
  samotop-core/src/smtp/codec.rs
  samotop-delivery/src/smtp/util/proto.rs
Due: none

Update .gitlab-ci.builder.yml
  .gitlab-ci.builder.yml
Due: builder-build

revert variables
  .gitlab-ci.builder.yml
Due: builder-build

skip cargo outdated test
  .gitlab-ci.builder.yml
Due: builder-build

Revert "revert buildah"
  .dockerignore
  .gitignore
  .gitlab-ci.builder.yml
  .gitlab-ci.yml
  Cargo.lock
  Dockerfile
  samotop-core/Cargo.toml
  samotop-core/src/smtp/codec.rs
  samotop-delivery/Cargo.toml
  samotop-delivery/benches/transport_smtp.rs
  samotop-delivery/src/smtp/commands.rs
  samotop-delivery/src/smtp/extension.rs
  samotop-delivery/src/smtp/util/proto.rs
  samotop-server/Cargo.toml
  samotop-server/src/main.rs
  samotop-smime/Cargo.toml
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
  samotop/src/io/mod.rs
  samotop/src/mail/mod.rs
Due: builder-build, publish-docker

version updates
  Cargo.lock
  samotop-delivery/Cargo.toml
  samotop-delivery/README.md
  samotop-with-spf/Cargo.toml
  samotop/Cargo.toml
Due: none

try fix release build
  .gitlab-ci.yml
  samotop-with-native-tls/Cargo.toml
Due: none

Stable release docker, fix smime metadata
  Cargo.lock
  samotop-server/Cargo.toml
  samotop-smime/Cargo.toml
Due: publish-docker

fixup docs, metadata
  samotop-server/README.md
  samotop-smime/README.md
  samotop-with-native-tls/Cargo.toml
  samotop-with-rustls/Cargo.toml
Due: publish-docker

Updated readme of main lib and server
  samotop-server/README.md
  samotop-server/src/main.rs
  samotop/README.md
  samotop/src/lib.rs
Due: publish-docker

fixup server example and docs
  samotop-server/Cargo.toml
  samotop-server/README.md
  samotop-server/src/main.rs
Due: publish-docker

Updated diagrams in readme
  README.md
Due: none
